.page_container {
    padding-top: 96px;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
}

@media (max-width: 759px) {
    .page_container {
        width: auto;
        margin-left: 8px;
        margin-right: 8px;
    }
}
