/* general styles */
.image_container {
    background: url('../static/images/hero.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 0 4px 5px var(--dark-gray);
    top: 0;
    left: 0;
    z-index: -2;
}

.image_glass {
    background: rgba(0, 0, 0, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page_container {
    min-height: calc(100vh - 242px);
}

.opener {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    padding-top: 220px;
}

.opener_headline {
    font-family: Raleway, system-ui;
    color: var(--white);
    font-weight: bold;
    font-size: 48px;
}

.opener_text {
    padding-top: 16px;
    color: var(--white) !important;
}
