.textblock {
    padding-top: 8px;
    padding-bottom: 12px;
}

.textblock ul > li {
    padding-bottom: 8px;
}

.textblock ul > li >ul >li:first-child{
    padding-top: 8px;
}

@media(max-width: 759px) {
    .textblock{
        padding-left: 8px;
        padding-right: 12px;
    }

}
